/* change these properties
   on all <a> elements in the page */
section {
    font-family: times;
    font-size: large;
    color: rgb(27, 35, 124);
    padding: 10px;
    border: 1px solid rgb(134, 0, 0);
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

p#my_header {
    background-color : yellow;
}

section.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div.texte {
    font-family: Cochin, serif;
}

section:hover{
    margin:10px
}

.box1 {
    background-color: #ffcbcb;

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 40px;

    border-bottom-width: 5px;
    border-bottom-color: rgb(71, 0, 0);
    border-bottom-style: solid;
    border-right-width: 5px;
    border-right-color: rgb(71, 0, 0);
    border-right-style: solid;
}
.box2 {
    background-color: #aaffd6;

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 40px;

    border-bottom-width: 5px;
    border-bottom-color: rgb(16, 106, 0);
    border-bottom-style: solid;
    border-right-width: 5px;
    border-right-color: rgb(16, 106, 0);
    border-right-style: solid;
}

body {
    background-color: #fae3d9;
}

@media only screen and (max-width: 500px) {
  html>body {
    background-color: #bbded6; 
  }
}

@media only screen and (min-width: 512px) and (max-width: 1024px) {
    #cv {
        grid-template-columns: 30% 30% 40%;
        grid-template-areas:
        "my_header my_header my_header"
        "exp exp edu"
        "lang lang edu";
    }
}




